*/__pycache__/
grader/
*.pyc
.ipynb_checkpoints/
**/.ipynb_checkpoints/
venv/
.env
.idea/
.vscode/
.DS_Store
.logs/
logs/
*.log
.grader_cache/
scores.json           # ex.: [grader/scores.json](grader/scores.json)
.mypy_cache/
.pytest_cache/
.coverage
dist/
build/
